
.idea/C1_OilRefining.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
C1a_Molecule_Framework/202111w1backup/a_20210715_self_defined_descriptor.py
C1a_Molecule_Framework/202111w1backup/B1_Pearson_feature_selection_20211103-e-10axx4hs8231.py
C1a_Molecule_Framework/202111w1backup/B1_Pearson_feature_selection_20211103.py
C1a_Molecule_Framework/202111w1backup/B1_Pearson_feature_selection_20211105.py
C1a_Molecule_Framework/202111w1backup/B1_Pearson_feature_selection_20211106.py
C1a_Molecule_Framework/202111w1backup/b_smiles_sidechain_extension.py
C1a_Molecule_Framework/202111w1backup/d2_CalebBell_thermo_joback.py
C1a_Molecule_Framework/202111w1backup/det_eign_map.txt
C1a_Molecule_Framework/202111w1backup/e_randic_modrandic_20210720.py
C1a_Molecule_Framework/202111w1backup/f_sdf2smiles_210801v2.py
C1a_Molecule_Framework/202111w1backup/g_quantification_MolLi_210804v3.py
C1a_Molecule_Framework/202111w1backup/intermol_feature_count.txt
C1a_Molecule_Framework/202111w1backup/j_1_2_3_4Order_submatrix_20210927.py
C1a_Molecule_Framework/202111w1backup/k_DB_preprocessing_20210912.py
C1a_Molecule_Framework/202111w1backup/o_MLregression_20211002.py
C1a_Molecule_Framework/202111w1backup/PCA_example_20211103.py
C1a_Molecule_Framework/202111w1backup/t_smileslist2mddf_20211004E.py
